{% extends "polls/base.html" %}
{% block base %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>选项列表</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        {% for question in lastest_question_list %}
            <tr>
                <td>{{ question.id }}</td>
                <td>
                    <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                </td>
                <td>{{ question.pub_date | date:"Y-m-d H:i:s" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

