body {
    background: white url("images/arnaud-steckle-q6BD_F7nX7E.jpg") no-repeat center fixed;
    background-size: cover;
    color: antiquewhite;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}

body>a:visited {
    color: white;
    text-decoration: none;
}
body>a:link {
    color: green;
    text-decoration: none;
}

body div {
    float: left;
    width: 100%;
}

h1 {
    color: orange;
}

a {
    color: orange;
    text-decoration: none;
}

ul {
    color: white;
    list-style-position: inside;
    list-style-type: none;
}


div {
    margin: 0 auto;
    text-align: center;
}

input {
    font-size: 16px;
    color: green;
}

.daohang {
    background-color: blueviolet;
    color: chocolate;
}

.daohang li {
    width: 25%;
    float: left;
    font-size: 32px;
}